# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform variables
terraform.tfvars
*.tfvars
*.tfvars.json

# Terraform override
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform CLI
.terraformrc
terraform.rc

# Terragrunt
.terragrunt-cache/
